/node_modules
/public/hot
/public/css/*
/public/js/*
/public/company/*
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/compnay/*
#/public/assets/*
/storage/fonts/*
/resources/fonts/*
/resources/fonts/dompdf_font_family_cache.php
.env.example
composer.lock
package-lock.json
